<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ARJUN LAMICHHANE</title>
    <link rel="shortcut icon" type="image/png" href="../img/coverphoto.jpg">

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/resume.min.css" rel="stylesheet">
    <style>
      .d-flex1 {
        display: flex;                /* Enables flexbox layout */
        justify-content: space-between; /* Distributes space between items, pushing them to the ends */
        align-items: center;          /* Vertically centers items within the container */
        width: 100%;                  /* Ensures the container takes the full width of its parent */
      }
      .grid-container {
  display: grid;                /* Use grid layout */
  grid-template-columns: 1fr 1fr; /* Create two equal columns */
  align-items: center;          /* Center items vertically within their grid areas */
  width: 100%;                  /* Ensure the grid container spans the full width of its parent */
  border: 1px solid #ddd;       /* Optional: Border to visualize the grid container */
}

.job-title {
  font-size: 130%;
  color: #003c3c;
  text-align: left;             /* Align text to the left within its grid column */
}

.date {
  text-align: right;            /* Align text to the right within its grid column */
  color: #0000FF;               /* Blue color for the date text */
}

    </style>
  </head>

  <body id="page-top" style="background-color:rgb(245, 245, 245);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">ARJUN LAMICHHANE</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../img/coverphoto.jpg" alt="" style="width:200px">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="education.html">Education</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="othercourses.html">Other Courses</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="workexperience.html">Work Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="research.html">Research</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="publications.html">Publications</a>
          </li>-->
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="programming.html">Programming</a>
          </li> -->
          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="skills.html">Skills and Achievements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="memories.html">Memorable Events</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="communityservice.html">Community Service</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="hobbies.html">Hobbies</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="abstractions.html">Abstractions</a>
          </li> -->
        </ul>
      </div>
    </nav>
    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div>
          <h2 class="mb-5" style="color:#003c3c">Work Experience</h2>
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <!--content start--->
              <!--<h3 class="mb-1">Research Experience</h3> 
                <ol reversed class = "workexp"  style="font-weight: bold;"> 
                  --->
                  <hr></hr>
                  <li class = "workexp" style="list-style-type: none;">
                    <div class="resume-item d-flex flex-column flex-md-row">
                      <div class="resume-content mr-auto">
                        <div class="d-flex justify-content-between align-items-center">
                          <h3 class="mb-0" style="font-size:130%; color:#003c3c;">Civil Engineer</h3>
                          <span class="text-primary">Dec 2023 - May 2024</span>
                        </div>
                        <div style="font-size: 110%";>Galchhi Trishuli Mailung Syaprubeshi Rasuwagadi Road Project, Department of Roads, Government of
                          Nepal, Bidur, Nuwakot</div>
                        <div class="lead">
                          <ul style="padding-bottom: 0.75rem;">
                            <li> Site Supervision for geotechnical investigation for over 10 bridges, including both RCC and PSC
                              bridges, as well as road pavement structures</li>  
                              <Li> Supervision of asphalt pavement works</Li>
                              <Li>Lab assistant in laboratory testing of soil and aggregate( performed water content test, particle size
                                analysis, Atterberg limit tests, and direct shear test and calculated allowable bearing pressure, bearing
                                capacity, and liquefaction of soil)</Li>
                           
                              <Li> Assistance in preparing site and lab reports</Li>                    
                          
                          </ul>
                        </div>
                        <div class="lead"> <ul style="padding-bottom: 0.75rem;">
                        
                        </div>
                      </div>
                    </div>
                  </li>
                  <hr></hr>
                  <li class="workexp" style="list-style-type: none;">
                    <div class="resume-item d-grid">
                      <div class="resume-content">
                        <div class="d-flex justify-content-between align-items-center">
                          <h3 class="mb-0" style="font-size:130%; color:#003c3c;">Geotechnical Engineer</h3>
                          <span class="text-primary">May 2023 - Dec 2023</span>
                        </div>
                        <div style="font-size: 110%;">Pokhara Soil Testing & Engineering Services Pvt. Ltd.</div>
                        <div class="lead">
                          <ul style="padding-bottom: 0.75rem;">
                            <li>Earthquake Resistant Analysis and Design of Commercial Complex ( Used ETABS-2018 for modeling
                              and analysis; Created drawing and detailing of structure on AUTOCAD-2018;Designed mat foundation,
                              shear walls and basement walls)</li> 
                        
                            <li>Used machine learning algorithms to predict soil properties or settlement based on historical data.</li>
                            <Li> Lab assistant in laboratory testing of soil and aggregate</Li>
                            <Li>Worked on projects related to pile system and pile soil interaction</Li>
                            <Li>Geotechnical site engineer (carried out Soil resistivity test and Dynamic Soil Penetration test for
                              hydropower project and rural road; supervised site construction; prepared site reports; scheduled and
                              planned overall construction)</Li>
                            
                        
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <hr></hr>     
                  <hr></hr>
                  <li class="workexp" style="list-style-type: none;">
                    <div class="resume-item d-flex flex-column flex-md-row">
                      <div class="resume-content mr-auto">
                        <div class="d-flex justify-content-between align-items-center">
                          <h3 class="mb-0" style="font-size:130%; color:#003c3c;">Undergrad Project</h3>
                        </div>
                        <div style="font-size: 110%;">Design and Analysis of Seismic Resistant RCC Framed Institutional Building | Final Year Major Project
                          (2023)</div>
                        <div><i>In fulfillment of the academic requirement for a Bachelor’s Degree in Civil Engineering</i></div>
                        <div class="lead">
                          <ul style="padding-bottom: 0.75rem;">
                            <li>Used ETABS for the modeling and analysis part</li>                            
                            <li>Created the drawing and detailing of the structure on AUTOCAD</li>
                            <li>Designed the mat foundation (both manually and using software CSI SAFE)</li>                            
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  
            </div>
         </div>
        </div>
      </section>
    </div>
<div class="container-fluid p-0">
      
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/resume.min.js"></script>

  </body>

</html>
